
.page-container{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  background-color: #555;
 
}
.item-group{
  background-color: white;
  margin: 10px auto 10px auto;
}
.title-bar{
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px auto 0px auto;
  width: 1000px;
  
}

.title-name{
  width: 800px;
  margin: 0px auto
}



.title-bar-upper{
  text-align: center;
  display: flex;
  width: 800px;
  margin: 5px auto 0px auto;
  
}
.pen-image{
  width:          50px;
  height:         50px;
  display:        flex;
  flex-direction: column;
  
}
.tab-container{
  display: flex;
  flex-direction:row;
  margin-left: auto;
  margin-right: 110px;
  margin-bottom: -5px;
}

.tab{
  background-color: white;
  margin: 5px;  
  padding: 0px 5px 0px 5px ;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}

h4{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 5px ;  
}

.body-container{
  background-color: white;
  height: auto;
  margin: -1px auto 40px auto;
  width: 800px;
  min-height: 1000px;
  border-top: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0px 1px 2px grey;
  
}

.active{
  border-top: 2px solid orange;
  margin-top: 1px;
}

.inactive{
  background-color: #efefef;
  border-bottom: #ccc;
  margin-bottom: 6px;
  color: #9c9c9c;
}

.show-content{
  background-color: red !important;
}

.hide-content{
  display: none
}

.middle-name{
  color: orange;
}

h5{
  color: #ccc;
  margin-left: 30px;
}

.tab-content{
  padding: 20px;
  border-radius: 0px;
  width: 800px;
}

.tab-note{
  margin-left: 30px;
}

.git-image{
  width:     250px;
  height:     250px;
}

.hacker-image{
  width:        250px;
  height:       250px;
}

.leet-image{
  width:      250px;
  height:     250px;
}


.frame {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 15px;
   

}


.frame-container{
    display: inline-block;
    width: 330px;
    cursor: pointer;
    position: relative;
    padding-top: 230px;
    overflow: hidden;
    text-align: center;
    margin: 20px;
    border: solid 2px #ccc;
    
}


.image-container{
    display: inline-block;
    width: 330px;
    cursor: pointer;
    position: relative;
    padding-top: 230px;
    overflow: hidden;
    text-align: center;
    margin: 20px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
    border-radius: 2px;
    
}

.cover-link{
    position: absolute;
    width: 330px;
    height: 233px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 0 !important;
    z-index: 1;

}

.frame-container:hover{
    background-color:grey;
    opacity: 0.75;
}