header{
  background-color: #667;
  text-align: center;
  padding: 10px;
  font-size: 3em;
  font-family: Impact, Charcoal, sans-serif;
  color: #eee;
  
}

body{
  font-family: sans-serif;
  background-color: #eee;
}

